.page-cost {
    background-image: linear-gradient(160deg, rgba(185, 64, 103, 0.92) 0%, #15095E 100%);
    padding: 2em 0;

    .h2-container {
        color: #fff;
    }
}

.cost {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__item {
        flex-basis: 33.333%;
        padding: 1.5%;
        margin: 1%;
        background-color: #fff;
        border-radius: 5px;
    }

    &__title {
        margin-bottom: 1em;
        text-align: center;
    }

    &__h3 {
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__list {
        margin-top: 1.25em;
        li {
            margin-top: 1em;
        }
    }

    &__btn {
        margin-top: 2em;

        .main-btn {
          display: block;
          margin: 0 auto; 
          text-align: center;
          max-width: 200px;
        }
    }

    &__name-container {
        text-align: center;
  
        color: rgba(0, 0, 0, 0.736);
        margin: 1em 0;
    }

    &__name {
        letter-spacing: .5px;
       
    }

    &__cost {
        color: #FF121A;
        font-size: 1.3rem;
    }
}

@media(max-width:768px) {
    .cost {
        flex-direction: column;
        align-items: center;

        &__item {
            width: 100%;
            max-width: 420px;
            margin: 2% 0;
            padding: 3%;
        }
    }
}