.page-personal {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 36%, #4521D7 100%);
    padding-bottom: 3em;
    padding-top: 2em;
}

.tabs {
    margin-top: 3em;
}


.tabs__tab-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs__trigger {
    border: 1px solid rgba(255, 255, 255, 0.541) !important;
    border-bottom: none;
    color: #000;
    display: block;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: 400;

    &.is-selected {
        background-color: rgba(255, 255, 255, 0.589);
        border-bottom:none !important;
        box-shadow: 0 -6px 15px 1px rgba(255, 255, 255, 0.274);
        transform: translateY(1px);
    }
}

.ml-mr {
    margin: 0 .5em;
}

.tabs__panel {
    border-bottom: 1px solid rgba(255, 255, 255, 0.541);
    border-left: 1px solid rgba(255, 255, 255, 0.541);
    border-right: 1px solid rgba(255, 255, 255, 0.541);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(255, 255, 255, 0.589);
    display: none;
    padding: 1em;
    outline: none;

    .is-initialized & {
        display: inherit;
    }

    &.is-hidden {
        display: none;
    }

    h3 {
        font-size: 1.8rem;
        margin: 1em 0;
    }

    ul {
        margin-top: 1em;
        line-height: 1.5;

        li:not(fist-child) {
            margin-top: 1em;
        }

        p {
            font-size: 1.1rem;
            line-height: 1.5;
            margin-top: 1.5em;
        }
    }
}

.fast-p {
    margin-top: 1.5em;

}

.personal-top-p {
    margin: 5em 0;
    font-size: 1.2rem;

    p {
        margin-top: 1.5em;
    }
}


h3 {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

.tabs__trigger:focus {
    border-bottom: none !important;
    outline: none;
 
 
}

@media(max-width:768px) {
    .tabs__tab-list {
        flex-direction: column;
        align-items: stretch;
    }

    .ml-mr {
        margin: .25em 0;
    }
}